.wrapper
  = render "shared/side_bar"    
  .chat-main
    .main-header
      .header-left
        %p.header-left__group
          = @group.name
        %p.header-left__members
          Member: 
          - @group.users.each do |group_user|
            = group_user.name
      = link_to edit_group_path(@group), class: 'main-header__edit' do
        Edit
    .chats      
      = render partial: 'chat', collection: @chats
    .form
      = form_for [@group, @chat] do |f|
        .input-box
          .input-box__message
            = f.text_field :message, class: "input-box__message__text", placeholder: "type a message"
            = f.label :image ,class: "input-box__message__image" do
              = fa_icon "picture-o"
              = f.file_field :image, class: "input-box__message__image--file"
          = f.submit 'Send', class: "input-box__sent"